body
{
    background-image:URL('lion.jpg');
    background-attachment:fixed;
    background-repeat:no-repeat;
    background-size: cover;
}
.intern1
{
    background-color:rgba(6, 117, 245, 0.807);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 30px;
    padding:20px;
    border-style: inherit;
    border-width: 10px;
    border-radius:10px;
    color:rgba(23, 10, 10, 0.887);
}
.intern2
{
    margin-left:250px;
    color:brown;
    font-size:10px;
}